body{background-color:#d0d6d6; font-family:"Times New Roman";}
h1 {color: rgb(0, 0, 0); font-weight:bold; text-align:center; font-size: 500%;background-color:#ff0000;}
h2 {color: #e600ff; font-weight:bold; font-size: 300%; width:250px; border-style:ridge; border-radius:25px; text-align: center; position:relative; left:5%; border-color:aqua; background-color:#00067f;}
p {color: purple; font-size: 100%;}
ul{}
li{list-style-type:none;}
nav{text-align:center; padding: 0%; font-weight:bold; position:fixed; top:0; right:5%; border-style:ridge; border-radius:25px; background-color:#00fff7;}
